@{
    ViewData["Title"] = "contacts";
}

<!--introContacts-->
<div class="introContacts">
    <div class="container">

    </div>
</div>
<div class="contacts">
    <div class="container">

        <div class="contacts__item">
            <div class="contacts__photo"></div>
            <div class="contacts__content">
                <div class="contacts__title">Лысак Кирилл Сергеевич</div>
                <div class="contacts__subtitle">It специалист,
                    художник-мультипликатор
                </div>
                <div class="contacts__text"></div>

                <ul class="contacts__icon">
                    <li><a href="mailto:lysak_kirill@mail.ru"><i class="fa fa-envelope"></i> lysak_kirill@mail.ru</a>
                    </li>
                    <li><a href="tel:+79513949741"><i class="fa fa-phone"></i> +7 (951) 394-97-41</a></li>
                </ul>
                <div class="contacts__social">
                    <!--social__item-vk-->
                    <a class="contacts__social__item" href="https://vk.com/ya_za_ya" target="_blank">
                        <svg class="contacts__social__icon">
                            <use xlink:href="#vk"></use>
                        </svg>
                    </a>
                    <!--social__instagram-->
                    <a class="contacts__social__item" href="https://www.instagram.com/___ya_za_ya___/" target="_blank">
                        <svg class="contacts__social__icon">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                    <!--social__ask-->
                    <a class="contacts__social__item" href="https://ask.fm/KILLER7000LKS" target="_blank">
                        <svg class="contacts__social__icon">
                            <use xlink:href="#ask"></use>
                        </svg>
                    </a>

                </div>
            </div>


        </div>
    </div>
</div>