@model lks.ViewModels.LoginModel
@{
    ViewData["Title"] = "authorization";
}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!--introAuthorization-->
<div class="introAuthorization">
    <div class="container">

    </div>
</div>


<!--authorization-->
<div class="authorization" >

    <div class="dwsForm">
        <div class="dwsFormlabel">
         <a href="/authorization" class="button">Авторизация</a>
         </div>
         <a href="/authorization/Register" class="button">Регистрация</a>
        <!--Login-->
        <div class="FormWhite">
        <form asp-action="Index" asp-controller="Authorization" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly"></div>

            <input class="input" type="text" asp-for="Email" placeholder="Введите E-mail" asp-validation-for="Email">
            <input class="input" type="password" asp-for="Password" placeholder="Введите пароль" asp-validation-for="Password">

            <input class="submitButton" type="submit" value="Войти"/>
            <ul class="socialAuthorization">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-vk"></i></a></li>
            </ul>
            <a href="#">Я забыл свой E-mail или пароль</a>
        </form>
        </div>
    </div>

</div>
<div class="authorizationBack">
    <div class="square"></div>
</div>