@{
    ViewData["Title"] = "works";
}


<!--introWorks-->
<div class="introWorks">
    <div class="container"></div>
</div>


<!--listWorks-->
<div class="listWorks">
    <div class="container">

        <!--listWorks__item-1-->
        <div class="listWorks__item">
            <div class="listWorks__photo">
                <img class="listWorks__image" src="images/HereIAm.jpg" alt="">
            </div>
            <div class="listWorks__content">
                <a class="listWorks__title" href="workHereIAm">А вот и я</a>
                <div class="listWorks__description ">
                    НПК 2015, мультфильм
                </div>
                <div class="listWorks__text">
                    тратататта тратататта тратататта тратататта тратататта
                </div>
            </div>
        </div>

        <!--listWorks__item-2-->
        <div class="listWorks__item">
            <div class="listWorks__photo">
                <img class="listWorks__image" src="images/fallingBalls.jpg" alt="">
            </div>
            <div class="listWorks__content">
                <h4 class="listWorks__title">falling Balls</h4>
                <div class="listWorks__description ">
                    Лабораторная работа 2021, веб игра
                </div>
                <div class="listWorks__text">
                    тратататта тратататта тратататта тратататта тратататта
                </div>
            </div>
        </div>
        <!--listWorks__item-3-->
        <div class="listWorks__item">
            <div class="listWorks__photo">
                <img class="listWorks__image" src="images/doYouLiveOrJustExist.jpg" alt="">
            </div>
            <div class="listWorks__content">
                <h4 class="listWorks__title">Ты живёшь или просто существуешь?</h4>
                <div class="listWorks__description ">
                    Портрет 2017, векторная графика
                </div>
                <div class="listWorks__text">
                    тратататта тратататта тратататта тратататта тратататта
                </div>
            </div>
        </div>
        <!--listWorks__item-4-->
        <div class="listWorks__item">
            <div class="listWorks__photo">
                <img class="listWorks__image" src="images/fireSafetySystemForBath.jpg" alt="">
            </div>
            <div class="listWorks__content">
                <a class="listWorks__title" href="fireSafetySystemForBath">Система пожарной безопасности в бане</a>
                <div class="listWorks__description ">
                    Курсовая работа 2020, автономная система
                </div>
                <div class="listWorks__text">
                    тратататта тратататта тратататта тратататта тратататта
                </div>
            </div>
        </div>

    </div>
</div>
